body {
  background: #0f0f0f;
  color: #232323;
  line-height: 30px;
  font-size: 20px;
  font-family: sans-serif;
  padding: 25px 50px;
}

/* code {
  color: #09507c;
  background: #deedf2;
  padding: 2px 10px;
  border-radius: 10px;
}

td {
  border: 1px solid black;
  padding: 15px;
} */

h1 {
  padding-top: 65px;
  display: flex;
  justify-content: center;
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

div {
  margin-left: 73vh;
  margin-top: 10vh;
  border: 10px double whitesmoke;
  width: 270px;
  height: 250px;
  animation: rubberBand;
  animation-duration: 3s;
}

